[Unit]
Description=Cloak administration client for Cloak server namespaced %i
After=network.target

[Service]
StandardOutput=journal
StandardError=journal
SyslogIdentifier=cloak-admin-%i

ExecStart=/bin/bash -c "/usr/sbin/runuser -g nogroup -u nobody -- /usr/sbin/ck-client -a $(cat /opt/cloak-%i/ck-admin-client.json | jq -r '.UID') -c /opt/cloak-%i/ck-admin-client.json"

Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
