[Unit]
Description=Socat ipsec keydesk proxy port 80 %i

[Service]
Type=simple
SyslogIdentifier=socat-ipsec-keydesk-proxy-80

Environment="wgip=%i"

ExecStart=/bin/bash -c "echo '%i' | cut -d : -f 1 | xargs -I {} /usr/bin/ip netns exec ns{} /usr/bin/socat -d TCP4-LISTEN:8080,su=nobody,fork,range=100.64.0.0/10,reuseaddr TCP6:[${wgip#*:}]:80"
Restart=always

[Install]
WantedBy=multi-user.target
