[Unit]
Description=Outline shadowsocks admin namespaced %i
After=network.target

[Service]
EnvironmentFile=/etc/wg-quick-ns.env.%i

StandardOutput=journal
StandardError=journal
SyslogIdentifier=outline-ss-admin-ns-%i

ExecStartPre=/bin/bash -c "test -f /opt/outline-ss-%i/resolv.conf ||  echo \"nameserver 1.1.1.1\" > /opt/outline-ss-%i/resolv.conf"
ExecStartPre=/bin/bash -c "/usr/bin/ip netns exec ns%i iptables -A INPUT -d ${EXT_IP} -p tcp --dport $((OUTLINE_SS_PORT+1)) -j ACCEPT"
ExecStartPre=/bin/bash -c "/usr/bin/ip netns exec ns%i iptables -A INPUT -d ${EXT_IP} -p udp --dport $((OUTLINE_SS_PORT+1)) -j ACCEPT"
ExecStartPre=/bin/bash -c "/usr/bin/ip netns exec ns%i iptables -A INPUT -d ${EXT_IP} -m state --state RELATED,ESTABLISHED -j ACCEPT"

ExecStartPre=/bin/bash -c "/usr/bin/ip netns exec ns%i iptables -t nat -A OUTPUT -m owner --uid-owner outline-ss-admin -p tcp -d $(ip netns exec ns%i dig +short @1.1.1.1 vpn.works) --dport 80 -j DNAT --to-destination ${EXT_IP}:8080"
ExecStartPre=/bin/bash -c "/usr/bin/ip netns exec ns%i iptables -t nat -A OUTPUT -m owner --uid-owner outline-ss-admin -p tcp -d $(ip netns exec ns%i dig +short @1.1.1.1 vpn.works) --dport 443 -j DNAT --to-destination ${EXT_IP}:8443"
ExecStartPre=/bin/bash -c "/usr/bin/ip netns exec ns%i iptables -A INPUT -p tcp -s ${EXT_IP} -d ${EXT_IP} -m multiport --dports 8080,8443 -j ACCEPT"

ExecStart=/usr/bin/unshare --mount /bin/bash -c "mount --bind /opt/outline-ss-%i/resolv.conf /etc/resolv.conf && /usr/bin/ip netns exec ns%i /usr/sbin/runuser -g nogroup -u outline-ss-admin -- /usr/sbin/outline-ss-server -replay_history=10000 -bind_addr=${EXT_IP} -metrics=127.0.0.1:$((OUTLINE_SS_PORT+1)) -config=/opt/outline-ss-%i/outline-ss-server-admin.config"

ExecStopPost=/bin/bash -c "/usr/bin/ip netns exec ns%i iptables -t nat -D OUTPUT -m owner --uid-owner outline-ss-admin -p tcp -d $(ip netns exec ns%i dig +short @1.1.1.1 vpn.works) --dport 80 -j DNAT --to-destination ${EXT_IP}:8080 || true"
ExecStopPost=/bin/bash -c "/usr/bin/ip netns exec ns%i iptables -t nat -D OUTPUT -m owner --uid-owner outline-ss-admin -p tcp -d $(ip netns exec ns%i dig +short @1.1.1.1 vpn.works) --dport 443 -j DNAT --to-destination ${EXT_IP}:8443 || true"
ExecStopPost=/bin/bash -c "/usr/bin/ip netns exec ns%i iptables -D INPUT -p tcp -s ${EXT_IP} -d ${EXT_IP} -m multiport --dports 8080,8443 -j ACCEPT || true"

ExecStopPost=/bin/bash -c "/usr/bin/ip netns exec ns%i iptables -D INPUT -d ${EXT_IP} -m state --state RELATED,ESTABLISHED -j ACCEPT || true"
ExecStopPost=/bin/bash -c "/usr/bin/ip netns exec ns%i iptables -D INPUT -d ${EXT_IP} -p udp --dport $((OUTLINE_SS_PORT+1)) -j ACCEPT || true"
ExecStopPost=/bin/bash -c "/usr/bin/ip netns exec ns%i iptables -D INPUT -d ${EXT_IP} -p tcp --dport $((OUTLINE_SS_PORT+1)) -j ACCEPT || true"

ExecReload=/usr/bin/pkill -HUP -f /opt/outline-ss-%i/outline-ss-server-admin.config

Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target