[Unit]
Description=Outline shadowsocks logger
After=network.target

[Service]
StandardOutput=journal
StandardError=journal
SyslogIdentifier=outline-ss-logger

ExecStartPre=mkfifo -m 0666 /var/run/outline-ss-logger.pipe ; pkill -HUP rsyslogd

ExecStart=/bin/bash -c "cat /var/run/outline-ss-logger.pipe | /etc/outline-ss/outline-ss-access-log.pl /opt/outline-ss authdb.log"

ExecStopPost=rm -f /var/run/outline-ss-logger.pipe ; pkill -HUP rsyslogd

Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
