[Unit]
Description=Namespaced WireGuard via wg-quick(8) for %I
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target
PartOf=wg-quick-ns.target
Documentation=man:wg-quick(8)
Documentation=man:wg(8)
Documentation=https://www.wireguard.com/
Documentation=https://www.wireguard.com/quickstart/
Documentation=https://git.zx2c4.com/wireguard-tools/about/src/man/wg-quick.8
Documentation=https://git.zx2c4.com/wireguard-tools/about/src/man/wg.8

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/wg-quick-ns.env.%i
ExecStartPre=/bin/bash -c "test -f /etc/wireguard/%i.conf"
ExecStartPre=/bin/bash -c "/usr/bin/ip netns add ns%i && /usr/bin/ip link set dev ${EXT_DEV} netns ns%i && /usr/bin/ip netns exec ns%i /usr/bin/ip link set dev lo up"
ExecStartPre=/bin/bash -c "/usr/bin/ip netns exec ns%i /usr/bin/ip addr add ${EXT_IP}/${EXT_CIDR} dev ${EXT_DEV} && /usr/bin/ip netns exec ns%i /usr/bin/ip link set dev ${EXT_DEV} up && /usr/bin/ip netns exec ns%i /usr/bin/ip route add default via ${EXT_GW} dev ${EXT_DEV}"
ExecStartPre=/bin/bash -c "/usr/bin/systemctl start dnsmasq-ns@%i:5353"
#ExecStartPre=/bin/bash -c "test -f /etc/systemd/system/accel-ppp-ns@.service && /usr/bin/systemctl start accel-ppp-ns@%i || true"
ExecStartPre=/bin/bash -c "test -f /etc/systemd/system/fakehttp-ns@.service && /usr/bin/systemctl start fakehttp-ns@${EXT_DEV}:%i || true"
ExecStartPre=/bin/bash -c "test \\( -f /etc/systemd/system/openvpn-ns@.service -a -f /opt/openvpn-%i/server.conf \\) && /usr/bin/systemctl start openvpn-ns@%i || true"
ExecStartPre=/bin/bash -c "test \\( -f /etc/systemd/system/outline-ss-ns@.service -a -f /opt/outline-ss-%i/outline-ss-server.config \\) && /usr/bin/systemctl start outline-ss-ns@%i || true"
ExecStart=/bin/bash -c "/usr/bin/ip netns exec ns%i /usr/bin/wg-quick up %i && touch /etc/wireguard/%i.replay && cat /etc/wireguard/%i.replay | xargs -I {} /bin/bash -c 'echo -ne \"GET {} HTTP/1.0\r\n\r\n\" | /wg-mng.sh replay'"
ExecStop=/bin/bash -c "/usr/bin/ip netns exec ns%i /usr/bin/wg-quick down %i"
ExecStopPost=/bin/bash -c "test -f /etc/systemd/system/outline-ss-ns@.service && /usr/bin/systemctl stop outline-ss-ns@%i"
ExecStopPost=/bin/bash -c "test -f /etc/systemd/system/openvpn-ns@.service && /usr/bin/systemctl stop openvpn-ns@%i"
ExecStopPost=/bin/bash -c "test -f /etc/systemd/system/fakehttp-ns@.service && /usr/bin/systemctl stop fakehttp-ns@${EXT_DEV}:%i"
#ExecStopPost=/bin/bash -c "test -f /etc/systemd/system/accel-ppp-ns@.service && /usr/bin/systemctl stop accel-ppp-ns@%i"
ExecStopPost=/bin/bash -c "/usr/bin/systemctl stop dnsmasq-ns@%i:5353"
ExecStopPost=/bin/bash -c "test -f /etc/systemd/system/ipsec-keydesk-proxy-80@.service && ( /usr/bin/systemctl stop ipsec-keydesk-proxy-80@%i:* || true )"
ExecStopPost=/bin/bash -c "test -f /etc/systemd/system/ipsec-keydesk-proxy-443@.service && ( /usr/bin/systemctl stop ipsec-keydesk-proxy-443@%i:* || true )"
ExecStopPost=/bin/bash -c "/usr/bin/ip netns del ns%i"
#ExecReload=/usr/bin/ip netns exec ns%i /bin/bash -c "exec /usr/bin/wg syncconf %i <(exec /usr/bin/wg-quick strip %i)"
Environment=WG_ENDPOINT_RESOLUTION_RETRIES=infinity

[Install]
WantedBy=multi-user.target
